var REDMINE_SERVER = '';
# override in URL with #project
var REDMINE_PROJECT = 'myproject';
var API_KEY = '';

/* For Kanban board */
var FILTER_STATUSES = [
  "Blocked",
  "In Progress",
  "Peer Review",
  "Acceptance Test",
  "Acceptance Test Failed",
  "Acceptance Test Passed",
];
