svg {
  width: 100%;
  height: 800px;

  rect {
    &.P_Web_Development {
      fill: white;
      stroke: green;
      stroke-width: 0.25px;
    }

    &.P_QIPPS_4 {
      fill: pink;
    }

    &.P_Online_Update_App {
      fill: lightblue;
    }

    &.P_Respite_Seeker,
    &.P_Service_Seeker {
      fill: lightgreen;
    }

    &.P_Web_Services_Xchange {
      fill: green;
    }

    &.P_S2S_eReferral_Waitlist,
    &.P_IX_Perl_Library,
    &.P_API_Docs {
      fill: yellow;
    }

    &.P_Profile_Server {
      fill: lightyellow;
    }

    &.P_ISS_3 {
      fill: blue;
    }

    &.P_15_Time {
      fill: white;
      stroke: black;
    }
  }

  text.label {
    font: 12pt Helvetica;
    text-anchor: end;
  }
}
